!!!
html(ng-app="houseNode")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0', charset='utf8')
    base(href='/')
    title HouseNode
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/ng-grid/ng-grid.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    .navbar.navbar-inverse.navbar-fixed-top(bs-navbar)
      .container
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='about') HouseNode
        .nav-collapse.collapse
          ul.nav.navbar-nav.pull-right
            li(data-match-route="/")
              a(href='') Home
            li(data-match-route="/devices")
              a(href='devices') Devices
            li(data-match-route="/cameras")
              a(href='cameras') Cameras
            li(data-match-route="/admin")
              a(href='admin') Admin
            li(data-match-route="about")
              a(href='about') About
    .container
      block body

    script(src='js/lib/jquery-2.0.3.js')
    script(src='js/lib/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/ng-grid/ng-grid-2.0.7.debug.js')  
    script(src='bower_components/ng-grid/plugins/ng-grid-flexible-height.js')  
    script(src='bower_components/angular-socket-io/socket.js')
    script(src='js/app.js')
    script(src='js/controllers/app.js')
    script(src='js/controllers/about.js')
    script(src='js/controllers/admin.js')
    script(src='js/controllers/cameras.js')
    script(src='js/controllers/devices.js')
    script(src='js/controllers/home.js')
    script(src='js/directives/bsnavbar.js')
    script(src='js/directives/hndeviceactions.js')
    script(src='js/directives/hndevicevalue.js')
    script(src='js/filters/titlecase.js')
    script(src='js/services/services.js')
